body {
     background-image: url("Background.jpg");
    font-family: 'Comic Sans MS', cursive, sans-serif;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column; /* Allows the footer to sit at the bottom */
    justify-content: center; /* Center main content vertically */
    align-items: center;
}

h1 {
    color: #637A9F;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#stage-display, #timer-display {
    font-size: 24px;
    margin: 10px;
    color: #333;
}


#timer {
    font-size: 24px;
    margin: 10px 0;
    color: #d32f2f; /* Red color for timer */
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.card.flipped {
    background-color: #fff;
    color: #4CAF50;
}

.card.matched {
    background-color: #2196F3;
    color: white;
}
