body {
    background-image: url("Background.jpg");
   font-family: 'Comic Sans MS', cursive, sans-serif;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

h1 {
   color: #1E40FF;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#timer-display {
    font-size: 24px;
    margin: 10px;
    color: #333;
}

.game-container {
    display:grid;
    grid-template-columns: repeat(4, 150px);  /* Change column width */
    grid-template-rows: repeat(2, 150px); /* Add two rows */
    grid-gap: 70px; /* Reduce the gap between cards */
    row-gap: 70px; /* Reduce the row gap */
}

.card {
    width: 200px;
    height: 200px;
    background-color: #4CAF50; /* Card color */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}


.card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: none; /* Hide image initially */
}

.card.flipped img {
    display: block; /* Show image when flipped */
}
#home-button {
    position: fixed;
    top: 50%; /* Center vertically */
    left: 20px; /* Position on the left side */
    transform: translateY(-50%); /* Adjust position to be exactly centered */
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#return-image {
    width: 90px; /* Increase the width to make it bigger */
    height: 90px; /* Increase the height to make it bigger */
    opacity: 0.8;
    transition: opacity 0.3s, transform 0.3s; /* Add smooth scaling on hover */
}

#return-image:hover {
    opacity: 1;
    transform: scale(1.1); /* Slightly enlarge on hover for effect */
}

#music-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#music-icon {
    width: 50px;
    height: 50px;
    opacity: 0.8;
    transition: opacity 0.3s, transform 0.3s;
}

#music-icon:hover {
    opacity: 1;
    transform: scale(1.1);
}

 
